<html lang="en">
    <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>More Games</title>
    </head>
    <body>
        <div class="l-landing-page">
            <div class="l-game-screen">

                <h1>Tutorial</h1>
            </div>
            <div class="l-play-area">
                <a class="l-play-button" href="../index.html"><h2>START GAME</h2></a>
            </div>
            <div class="l-menu">
                <a class="l-menu-button" href="story.html">
                    <h2>Story</h2>
                <a>
                <a class="l-menu-button" href="development.html">
                    <h2>Development</h2>
                </a>
                <a class="l-menu-button button-active" href="#">
                    <h2>More Games</h2>
                </a>
                <a class="l-menu-button" href="shop.html">
                    <h2>Shop</h2>
                </a>
                <a class="l-menu-button" href="skins.html">
                    <h2>Skins</h2>
                </a>
            </div>
        </div>
    </body>
</html>
